$primary-color: #222f3f;
$secondary-color: #adc4d6;
$highlights-color: #f80652;
$background-color: #e8f1f8;

@mixin flex($props) {
    display: flex;
    justify-content: $props;
}

@mixin fontsButton($props) {
    text-transform: uppercase;
    font-size: $props;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
}

@mixin buttonStyle {
    width: 7rem;
    height: 3rem;
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
}

@mixin hoverButtonStyle {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include flex(center);

    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 10px;
    height: 100vh;
    width: 100%;
    background-color: $background-color;
}

.header {
    width: 70%;

    @include flex(space-around);

    align-items: center;

    .header__counter {
        align-self: center;
    }

    button,
    .header__timer {
        @include fontsButton(1rem);

        @include buttonStyle;
    }

    .header__timer {
        @include flex(center);

        align-items: center;
    }

    .red {
        color: $highlights-color;
    }

    h1 {
        @include fontsButton(2rem);

        line-height: 3rem;
        color: $highlights-color;
    }

    span {
        @include fontsButton(1rem);

        display: inline-block;
        height: 3rem;
        color: $primary-color;
    }
}

.main {
    width: 80%;
    min-height: 80%;

    @include flex(center);

    flex-direction: column;
    align-items: center;

    .board {
        @include flex(space-between);

        flex-wrap: wrap;
        width: 40%;
        min-height: 80%;

        .square {
            width: 50px;
            height: 50px;
            background-color: $secondary-color;
            margin: 0.5rem;
            transition: 0.3s linear;
        }

        .active {
            background-color: #00ADB5;
        }

        .clicked {
            box-shadow: 1px 1px 1px $highlights-color;
        }
    }

    .button__status {
        width: 25%;

        @include flex(center);

        button {
            @include fontsButton(1rem);
            @include buttonStyle;

            cursor: pointer;
            transition: 0.3s linear;
            margin: 0 1rem;
        }

        .disable {
            display: none;
        }

        button:hover {
            @include hoverButtonStyle;
        }
    }
}
